@import url("https://use.typekit.net/ufy6atn.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container-fluid{
 
  
    width: 100vw;
    height: 100vh;
   
}
h1{
    font-family: neuzon;
    font-size: 50px;
}
h2{
    font-family: Poppins;
  font-size: 30px;
}
a{
    text-decoration: unset;
    color: unset;
}
p, a , button,input{
    font-family: Poppins;
  font-size: 18px;
}
button{
    padding: 10px 20px;
    color: #e8eee2;
    background-color: unset;
    border: solid 2px #e7ede2;
    
}
a:hover{
    text-decoration: unset;
    color: unset;
}
.home{
    background: url('/img/home-spacegame.jpg');
    background-size: cover;
}
.menu-button{
    color: tomato;
    position: absolute;
    top: 10vh;
    left: 15vw;
    z-index: 2;
}
.menu{
    background: url('/img/menu-bg-spacegame.png');
    background-size: cover;
    background-position: center;
}
.menu .row div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #e8eee2;
    margin: 20px;
  padding: 30px;
   
}
.menu .row div:hover, .menu .content > div:nth-child(2):hover {
    background-color: #E7EDE2;
    color: #1D2527;
    transition-duration: 0.2s;
}
.menu .row div img{
    width: 225px;
    height: 225px;
}
.menu .content > div:nth-child(2){
    
    width: 50%;
    padding: 20px;
    text-align: center;
    border: solid 2px #e8eee2;
}
.mission{
    background: url('/img/mission-spacegame.png');
    background-size: cover;
    background-position: center;
}
input{
    margin: 0px 5px 20px 5px; padding: 10px; width: 30%; text-align: center;
}
.mission-1{
    background: url('/img/planet-1-spacegame.png');
    background-size: cover;
    background-position: right;
}
.mission-2{
    background: url('/img/planet-2-spacegame.png');
    background-size: cover;
    background-position: left;
}
.mission-3{
    background: url('/img/planet-3-spacegame.png');
    background-size: cover;
    background-position: left;
}
.content{
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5eee1
    
}

.win
{
    background: url('/img/planet-finale-spacegame.png');
    background-size: cover;
    background-position: center;
}
.loose
{
    background: url('/img/end-bg-spacegame.png');
    background-size: cover;
    background-position: center;
}


/* ANIMATION */

